numpy==1.26.0
llvmlite
numba
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
setuptools==69.5.1
tensorflow==2.18.0
tensorboardX
easydict
pyyaml
scikit-image
tqdm
spconv-cu117
kornia
open3d
SharedArray
opencv-python
pyquaternion
catkin_pkg
nose
transform3d